#home{
    padding: 2em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
   align-items: center;
}

main{
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: space-between;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color:#009688;
    font-weight: 700;
}
.subtitle{
    font-size: 0.8em;
    color: gray;
}
figure{
    height: 20rem;
    display: flex;
}
#dashboard_img{
    width: 300px;
}
#content{
    margin-top: 5rem;
}
#paypal{
    width: 100%;
    mat-card{

        header{
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                color:#009688;
                font-weight: 700;
            }
            .subtitle{
                font-size: 0.8em;
                color: gray;
            }
        }
        mat-card-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em;
            padding: 2em 0;
            .product{
                display: flex;
                flex-direction: column;
                align-items: center;
                .product_desc{
                    font-size: 1em;
                    font-family: 'Montserrat', sans-serif;
                    margin-bottom: 1em;
                }
                .product_img{
                    margin-bottom: 2em;
                    width: 60px;
                }
            }
        }
    }
}
#stripe{
    margin-top: 3em;
    width: 100%;
        mat-card{

        header{
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                color:#009688;
                font-weight: 700;
            }
            .subtitle{
                font-size: 0.8em;
                color: gray;
            }
        }
        mat-card-content{
            padding: 2em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .product{
                display: flex;
                flex-direction: column;
                align-items: center;
                .product_desc{
                    font-size: 1em;
                    font-family: 'Montserrat', sans-serif;
                    margin-bottom: 1em;
                }
                .product_img{
                    margin-bottom: 2em;
                    width: 60px;
                }
            }
        }
    }
}
@media only screen and (min-width: 850px){

#dashboard_img{
    padding-top: 3em;
    width: 700px;
}

figure{
    height: 30rem;
    display: flex;
}

}


@media only screen and (min-width: 1250px){
    #home{
        padding: 2em;
        padding-top: 4em;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    main{
        position: absolute;
        z-index: 2;
        top: 180px;
        left: 25px;
    }
    h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color:#009688;
    font-weight: 700;
    }

    figure{
        height: 40rem;
        z-index: 1;
        position: absolute;
        top: 100px;
        left: 250px;
    }

    #dashboard_img{
        padding-top: 0em;
        width: 700px;
    }
    #content{
        margin-top: 15rem;
    }
    #paypal{
    width: 75%;
    }
    #stripe{
    width: 75%;
    }
}

@media only screen and (min-width: 1350px){
    main{
        align-self: center;
        display: flex;
        flex-direction: column;
        height: 4rem;
        justify-content: space-between;
        position: absolute;
        z-index: 2;
        top: 180px;
        left: 225px;
    }
    figure{
        display: flex;
        z-index: 1;
        height: 40rem;
        position: absolute;
        top: 100px;
        left: 400px;
    }
        #content{
        margin-top: 36rem;
    }
    #paypal{
        width: 75%;
    }

    #stripe{
    width: 75%;
    }
}