<section id="firebase">
    <main>
    <article>
    <h2>Google Firebase? </h2>
    <p class="subtitle">Autenticación, Firestore, Storage, Hosting...</p>
  </article>
  <figure><img id="dashboard_img" src="../../../assets/images/firebase_section.svg" alt="angular_developer"> </figure>
</main>
<section id="skills">
<mat-card>
  <header>
    <h2>Autenticación</h2>
    <p>Autenticación con email y redes sociales</p>
  </header>
  <mat-card-content *ngIf="auth.user$ | async as user; else login">
      <div class="bienvenida">
        <img src="{{user.photoURL}}" class="avatar" alt="avatar">
        <div class="hola">Hola {{user.displayName}}!</div>        
      </div>

      <button class="logout" color="accent" mat-raised-button (click)="auth.signOut()"><i class="fas fa-sign-out-alt"></i><span>Logout</span></button>

    </mat-card-content>
</mat-card>
<!--
<mat-card>
  <header>
    <h2>Firestore</h2>
    <p>Base de datos flexible y escalable con actualizaciones en tiempo real</p>
  </header>
  <mat-card-content>
    <div id="firestore">
    
    <div class="numero">
      <div>5</div> 
      <div class="fecha">Último click: 18/08/2019 20:56</div>
    </div>
    <div class="botonera">
      <button mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
    </div>
    </div>
  </mat-card-content>
</mat-card>
-->
<mat-card id="hosting">
  <header>
    <h2>Hosting</h2>
    <p>Hosting para aplicaciones web</p>
  </header>
  <mat-card-content>
    <div class="title">
      Esta aplicación está alojada en Firebase Hosting. 
    </div>
    <div>
      <a href="https://angularportfolio-d0411.web.app/">https://angularportfolio-d0411.web.app/</a>
    </div>
  </mat-card-content>
</mat-card>
</section>
</section>

    <ng-template #login>
      <mat-card-content>
        <form #form="ngForm" (ngSubmit)="signIn(form)">
        <mat-form-field  appearance="outline">
           <mat-label>Email</mat-label>
            <input matInput placeholder="email@email.com" disabled>
            <mat-icon matSuffix color="primary">email</mat-icon>
        </mat-form-field>
        <mat-form-field  appearance="outline">
           <mat-label>Password</mat-label>
            <input matInput placeholder="Password" disabled>
            <mat-icon matSuffix color="primary">lock</mat-icon>
        </mat-form-field>
        <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Login</button>
      </form>
      <div class="social_login"> 
        <button mat-raised-button color="primary" (click)="auth.webGoogleLogin()"><i class="fab fa-google"></i><span>Login Google</span></button>
        <button mat-raised-button color="primary" (click)="auth.webfacebookLogin()"><i class="fab fa-facebook-f"></i><span>Login Facebook</span></button>
      </div>
      </mat-card-content>
    </ng-template>